/**
*
* Skill Circles
*
**/

.skill-circles-header {
  text-align: center;

  .filter {
    cursor: pointer;
    color: $colorOffwhite;
    width: 145px;
    height: 30px;
    display: inline-block;
    margin: 0px 8px;
    border-radius: 15px;
    text-align: left;

    &.disabled .circle {
      background-color: $colorOffwhite;
    }

    &.filter--level-mastery { 
      background-color: $colorBlue;
      &.disabled {
        background-color: $colorLightGray;
        color: $colorBlue;
      } 
    }

    &.filter--level-intermediate { 
      background-color: $colorTeal; 
      &.disabled {
        background-color: $colorLightGray;
        color: $colorTeal;
      } 
    }

    &.filter--level-beginner { 
      background-color: $colorDarkGray; 
      &.disabled {
        background-color: $colorLightGray;
        color: $colorDarkGray;
      } 
    }

    .circle {
      display: inline-block;
      height: 20px;
      width: 20px;
      background-color: $colorWhite;
      margin: 4px 0 4px 5px;
      border-radius: 50%;
    }

    .text {
      display: inline-block;
      padding: 0;
      margin: 1px 8px;
      vertical-align: top;
    }
  }
}

.skill-circles {
  position: relative;
  height: 100%;
  width: 100%;

  .circle {
    position: absolute;
    border-radius: 50%;
  }

  .circle--level-mastery { background-color: $colorBlue; }
  .circle--level-intermediate { background-color: $colorTeal; }
  .circle--level-intermediate .text-container { font-size: 20px; }
  .circle--level-beginner { background-color: $colorDarkGray; }
  .circle--level-beginner .text-container { font-size: 18px; }

  .text-container {
    color: white;
    font-size: 28px;
    height: 100%;
    width: 100%;
  }

  .circle--js {
    width: 25.2%;
    left: 23.6%;
    top: 30.5%;
  }
  .circle--html {
    width: 19.8%;
    left: 5.5%;
    top: 12%;
  }
  .circle--sass-less {
    width: 19%;
    left: 60.5%;
    top: 45%;
  }
  .circle--css {
    width: 18%;
    left: 75.5%;
    top: 14%;
  }
  .circle--java {
    width: 16%;
    left: 46%;
    top: 65%;
  }
  .circle--ios {
    width: 15%;
    left: 38.5%;
    top: 1%;
  }
  .circle--tasks {
    width: 14.5%;
    left: 81%;
    top: 53%;
  }
  .circle--angular {
    width: 14.5%;
    left: 48.5%;
    top: 29%;
  }
  .circle--mysql {
    width: 10.5%;
    left: 63.5%;
    top: 21%;
  }
  .circle--php {
    width: 10.5%;
    left: 26.8%;
    top: 9%;
  }
  .circle--nodejs {
    width: 10.5%;
    left: 13%;
    top: 56%;
  }
}

.skill-circles-aspect-wrapper.custom-aspect {
  padding-bottom: 48%;
}

@include breakpoint(lg) {
  .skill-circles {

  }
}